# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Environment variables / secrets
.env

# Databases
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# OS files
Thumbs.db
.DS_Store

# Application output
downloads/
exports/
cache/